/*----ALL----*/
* {
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}

/*------------------------------------------------------------*/

/*---HEADER----*/
header {
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

header img {
  height: 40px;
}

.border {
  border: 1px solid lightgray;
  /*---splitting ligne btw border and section*/
}

/*------------------------------------------------------------*/

/*------SECTION (under header) ----*/

.section {
  background: rgb(255, 255, 255);
  display: grid;
  grid-template-columns: 65% 35%;
  align-items: center;
  height: 260px;
  gap: 10px
}

.section-text {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding-bottom: 20px;
}

.section h1 {
  color: black;
  font-size: 30px;
  font-weight: bold;
  font-family: "Manrope", sans-serif;
}

.section p {
  padding-top: 30px;
  padding-right: 20px;
  font-size: 20px;
  line-height: 28px;
  color: rgb(167, 160, 160);
  font-family: "Manrope", sans-serif;
}

.section img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

/*-----RESPONSIVE---*/
@media (max-width:800px) {
  .section h1 {
    font-size: 25px;
  }

  .section p {
    font-size: 18px;
    line-height: 22px;
  }
}

@media (max-width:730px) {
  .section h1 {
    font-size: 23px;
  }

  .section p {
    font-size: 16px;
    line-height: 20px;
  }
}

@media (max-width:530px) {
  .section {
    margin-top: 10px;
  }

  .section h1 {
    font-size: 22px;
  }

  .section p {
    line-height: 18px;
  }

  .section img {
    height: 150px;
    margin-top: 35px;
  }
}

/*-----------------------------------------------------------*/

/*----MAIN---*/
main {
  margin-top: 20px;
}

.main-container {
  /* border: 1px solid rgb(0, 255, 200); */
  background-color: #f3f5f5;
  padding-top: 20px;
  border-radius: 5px;
  display: flex;
  gap: 30px;
}

h2 {
  font-size: 25px;
  font-weight: bold;
  margin: 30px 0 20px 0;
  padding-bottom: 10px;
}

h3 {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.957);
  margin-bottom: 15px;
}

/* Left section with all articles*/
.part-left {
  /* background-color: red; */
  width: 65%;
}

/*Article section whithout h2 */
article {
  background-color: white;
  width: 48%;
  margin-bottom: 20px;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 180px;
  border: 1px solid rgba(217, 217, 217, 0.412);
  cursor: pointer;
  transition: .3s ease-in-out;
}

article:hover {
  transform: scaleX(1.05);
}

.articles-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

article img {
  /*border: 1px solid rebeccapurple;*/
  height: 130px;
  width: 130px;
  object-fit: cover;
  border-radius: 5px;
}

article .description {
  /* border: solid black 1px; */
  /* Article section p is reduced with only 2 lignes (over-flow)*/
  height: 38px;
  overflow: hidden;
  margin-bottom: 10px;
}

article p {
  color: grey;
  line-height: 18px;
  font-size: 18px;
}

.spany {
  /*border: 1px solid red;*/
  margin-top: 30px;
}

article .orange {
  color: rgb(255, 137, 2);
  padding-left: 20px;
  font-weight: bold;
  font-size: 15px;
}

/*----RESPONSIVE---*/

@media (max-width:1145px) {
  article {
    width: 100%;
  }
}

@media (max-width:800px) {
  .part-left {
    width: 100%;
  }

  article p {
    font-size: 16px;
    line-height: 18px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 17px;
  }

}

@media (max-width:600px) {
  h2 {
    font-size: 18px;
  }

  h3 {
    font-size: 16px;
  }

  article p {
    font-size: 14px;
  }
}

/*Section cart */
.part-right {
  background-color: white;
  height: 100%;
  border-radius: 10px;
  padding: 15px;
  margin-left: 40px;
}

.cart-p {
  font-size: 30px;
  color: rgb(84, 222, 176);
  font-weight: bold;
  transition: .3s ease-in-out;
  cursor: pointer;
}

.cart-p:hover {
  color: grey;
}

.btn {
  margin: 20px 0;
}

.btn button {
  border-radius: 50%;
  background-color: rgb(90, 216, 180);
  border: none;
  margin-bottom: 5px;
  cursor: pointer;
}

.total {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.flex-meal {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid rgb(90, 216, 180);
}

.total p {
  padding-top: 20px;
  padding-bottom: 20px;
}

.btn-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.btn-cart button {
  border: none;
  font-size: 20px;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 10px;
  background: rgb(90, 216, 180);
  border: 1px solid rgb(90, 216, 180);
  cursor: pointer;
  transition: .3s ease-in-out;
}

.btn-cart button:hover {
  background: white;
  font-weight: normal;
}

.number {
  padding: 0 5px;
}

.meal {
  padding-right: 30px;
  font-size: 15px;
}

/*-----RESPONSIVE----*/

@media (max-width:1205px) {
  .part-right {
    width: 35%;
  }

  .cart-p {
    text-align: center;
  }

}

@media (max-width:1080px) {
  .part-right {
    width: 40%;
  }
}

@media (max-width:990px) {
  .part-right {
    width: 50%;
  }
}

@media (max-width:880px) {
  .part-right {
    width: 60%;
  }
}

@media (max-width:810px) {

  .main-container {
    display: flex;
    flex-direction: column-reverse;
  }

  .cart-p {
    text-align: center;
  }

  .part-right {
    margin-right: 30px;
    width: 90%;
  }
}


@media (max-width:600px) {

  .part-right {
    margin-left: 0;
    width: 100%;
  }

  .cart-p {
    text-align: center;
  }
}